.loading-overlay {
	opacity: 0.95;
}

label.error {
	color: red;
}

html {
	font-family: Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1 {
	color: #474544;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 7px;
	text-align: center;
}

form {
	padding: 37.5px;
}

fieldset {
	border: solid 3px #474544;
	margin: 60px auto;
}

button, input, select, textarea {
	color: #5A5A5A;
	font: inherit;
	margin: 0;
	width: 100%;
}

.width-auto {
	width: auto !important;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
	overflow: auto;
	margin: 1.875em 0 0 0;
}

input[type='text'], input[type='email'], input[type='url'], select, textarea {
	background: none;
	border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 1.875em 0 0 0;
	padding: 0 0 0.875em 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

input[type='submit'], input[type='button'] {
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
}

input[type='submit']:hover, input[type='button']:hover {
	background: #474544;
	color: #F2F3EB;
}
